

.Page-logo {
  height: 32px;
  padding-right: 16px;
}

.Page-header {
  background-color: #B4BEC7;
  padding: 32px;
  color: white;
   margin: 0px auto 0px auto;
   font-size: 24px;
    
  
}

.Page-content {
 padding: 32px;
 width: 912px;
    margin: 0px auto 0px auto;
}


table[className="AddNew"] {
  padding-left: 16px;
    padding-top: 16px;
    width: 100%;
}


.Row-title {
  color: #757575;  
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  height: 48px;
   
}

.Data-Row {
  color: #505050;  
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 72px;
  
}

.Nord {
  margin: 0px auto 0px auto;
  width: 976px;
    
}


input[type="text"] {
  padding: 16px;
  background: linear-gradient(#B4BEC7, #B4BEC7), linear-gradient(#B4BEC7, #B4BEC7), linear-gradient(#B4BEC7, #B4BEC7);
  background-size: 1px 100%, 0% 1px, 1px 100%;
  background-position: bottom left, bottom center, bottom right;
  background-repeat: no-repeat;
  border: none;
  color: #999;
}


