/* CSS for App.js */

.App {
  margin: 0px auto 0px auto;
  width: 976px;
    
}

.Nord {
  padding: 32px;
  width: 912px;  
 background-color: #ECF0F1;
}

.Page-logo {
  height: 32px;
  padding-right: 16px;
}

.Page-header {
  background-color: #B4BEC7;
  padding: 32px;
  color: white;
  font-size: 24px; 
}







/* CSS for Form.js */


.Page-content {

 width: 912px;
    

}

div[className="Title"] {
    color:  #909090;
    font-size: 24px;
    padding-bottom: 32px;
}

form {
  
    padding-top: 16px;
   
    background-color: white;
    
}

input[type="text"] {
  
  width:99%;
   height: 40px;
    font-size: 16px;
}




input[type="email"] {
  
  width: 260px;
  height: 40px;
    font-size: 16px;
}

input[type="tel"] {
 
  width: 99%;
  height: 40px;
    font-size: 16px;
}

.btn  {
    border: none;
    background-color: #ECF0F1;
    font-size: 16px;
    color: #909090;
    height: 40px;
    padding-right: 24px;
    
    padding-left: 24px;

    
}

.errorText {
    font-size: 12px;
    color: red;
    
}


.FormTable {
   
    width: 912px;
    
}

.success {
    
    color: yellowgreen;
}

.errortd {
    height: 8px;
}

/* CSS for Table.js */


table[className="AddNew"] {
    
    width: 912px;
    background-color: white;
    border-collapse: collapse;
    
}

tr {
     border-bottom: 1px solid #ECF0F1;

}

/*
td {
     border: 1px solid black;
    

}
*/
.Row-title {
  color: #757575;  
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  height: 48px;
  
}


.Data-Row {
  color: #505050;  
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 72px;
   
  
}


.edit {
    fill: #909090;
    height: 24px;
    width: 24px;
    padding-left: 110px;
    
}

.removeData {
   padding-right: 8px;
}

.trash {
    fill: #909090;
    height: 24px;
    width: 24px;
   
}

.AddData {
    padding-left: 16px;
}

.ButtonData {
    
    padding-left: 75px;
}



th {
    text-align: left;
    padding-left: 16px;
}

.materialCancel {
 padding-left: 50px;
    
}

.materialSave {
 padding-right: 16px;
    
}

.SaveBtn {
    background: #07f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border:none;
    height: 40px;
    width: 80px;
}

.CancelBtn {
    background: #ECF0F1;
    height: 40px;
    color: #07f;
    font-size: 16px;
    font-weight: 500;
     border:none;
     width: 80px;
     
}

.titleRow {
    display: flex;
    
    align-items: center;
}

.Page-header {
    display:flex;
    align-items: center;
    
}

.Datatd {
    width: 180px;
   padding-left: 24px;
    padding-bottom: 24px;
     
}

.EditInput {
    padding-top: 8px;
}

.arrow {
    padding-left: 16px;
}

.InputAdd {
    width: 90%;
}
