/* CSS for App.js */

.App {
  margin: 0px auto 0px auto;
  width: 976px;
    
}

.Nord {
  padding: 32px;
  width: 912px;  
 background-color: #ECF0F1;
}

.Page-logo {
  height: 32px;
  padding-right: 16px;
}

.Page-header {
  background-color: #B4BEC7;
  padding: 32px;
  color: white;
  font-size: 24px;
  width: 976px;
  
}







/* CSS for Form.js */


.Page-content {

 width: 912px;
    

}

div[className="Title"] {
    color:  #909090;
    font-size: 24px;
}

form {
  
    padding-top: 16px;
    background-color: white;
    
}

input[type="text"] {
  
  
   height: 40px;
    font-size: 16px;
}


input[type="email"] {
  
  width: 260px;
  height: 40px;
    font-size: 16px;
}

input[type="tel"] {
 
  width: 190px;
  height: 40px;
    font-size: 16px;
}

.btn  {
    border: none;
    background-color: #ECF0F1;
    font-size: 16px;
    color: #909090;
    height: 40px;
    
}

.errorText {
    font-size: 12px;
    color: red;
}

table[className="AddNew"] {
    padding-left: 24px;
    width: 912px;
    background-color: white;
    border-color: 
    
}

table[className="FormTable"] {
   
    width: 912px;
    
}

.success {
    
    color: yellowgreen;
}

/* CSS for Table.js */

.Row-title {
  color: #757575;  
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  height: 48px;
   
}


.Data-Row {
  color: #505050;  
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 72px;
  
}


.edit {
    fill: #909090;
    height: 24px;
    width: 24px;
}

.trash {
    fill: #909090;
    height: 24px;
    width: 24px;
}

.AddData {
    padding-left: 16px;
}

.ButtonData {
    
    padding-left: 16px;
}

th {
    text-align: left;
}

.SaveBtn {
    background: #07f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border:none;
    height: 40px;
}

.CancelBtn {
    height: 40px;
    color: #07f;
    font-size: 16px;
    font-weight: 500;
}
